body {
    background-color: #202020;
}

.masonry-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.masonry-layout > div {
    flex: 1 1 calc(33.333% - 16px);
    box-sizing: border-box;
}