h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.masonryItem {
    flex: 1 1 calc(33.333% - 16px);
    max-width: 15vw;
    box-sizing: border-box;
    margin-bottom: 16px;
    text-decoration: none;
    text-decoration-color: none;
    color: inherit;
}

.masonryGrid {
    display: flex;
    width: 100%;
}

.masonryGridColumn {
    padding: 10px;
    margin: 0 15px;
    background-clip: padding-box;
}

/* .endMessage {
  color: #ffffffa6;
  text-align: center;
  margin-bottom: 10px;
  font-style: italic;
} */