.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #202020;
  text-align: center;
}

.h2 {
  color: #fff;
}

.a {
  color: #fff;
  position: absolute;
  bottom: 1rem;
  text-decoration: none;
}

.label {
  color: #fff;
}

.field {
  margin-bottom: 1rem;
}

.field label {
  display: block;
  margin-bottom: 0.5rem;
}

.field input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

.button:active {
  background-color: #b4b4b4;
}