.post {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.post:hover {
  transform: translateY(-5px);
}

.image {
  width: 100%;
  height: auto;
}

.title {
  font-size: 1.2em;
  margin-top: 3px;
  margin-left: 10px;
}

.username {
  margin-top: -12px;
  margin-left: 10px;
  color: #333;
  font-weight: bold;
}

.createdAt {
  margin-top: -12px;
  margin-left: 10px;
  color: #777;
  font-size: 0.9em;
}