.post {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #464646;
  background-color: #252525;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  position: relative;
}

.post:hover {
  transform: translateY(-5px);
}

.image {
  width: 100%;
  height: auto;
}

.title {
  color: #ffffffce;
  font-size: 1.2em;
  margin-top: 3px;
  margin-left: 10px;
}

.username {
  color: #ffffff9c;
  margin-top: -12px;
  margin-left: 10px;
  font-weight: bold;
}

.createdAt {
  margin-top: -12px;
  margin-left: 10px;
  color: #777;
  font-size: 0.9em;
}

.heart {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.likes {
  color: #ffffff9c;
  position: absolute;
  bottom: 19px;
  right: 17.5px;
}