.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1200px;
    border: 1px solid #353535;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
}


.profileHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.username {
    font-size: 1.5em;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0;
    color: #fff;
}

.bio {
    font-size: 1.2em;
    color: #afafaf;
}

.editButton {
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #808080;
    color: #000;
    font-size: 1em;
    font-family: monospace;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.followButton {
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ca1616;
    color: #000;
    font-size: 1em;
    font-family: monospace;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.followedButton {
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #5f5959;
    color: #000;
    font-size: 1em;
    font-family: monospace;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

hr {
    width: 80%;
    border-color: #000;
    margin-top: 35px;
    margin-bottom: 25px;
}

.masonrylayout {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
}

.masonryItem {
    flex: 1 1 calc(33.333% - 16px);
    max-width: 15vw;
    box-sizing: border-box;
    margin-bottom: 16px;
    text-decoration: none;
    text-decoration-color: none;
    color: inherit;
}